html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

.navContent {
    display: flex;
 justify-content: flex-end;
 align-items: center;
}

.navContent {
    list-style: none;
    background-color: rgb(182, 178, 179);
    font-size: 24px;
    font-weight: lighter;
    line-height: 60px;
    transition: color 0.5s;
    font-family: sans-serif;
    margin: 10px 25px 10px 25px;
}

.nav-items:hover {
    color: aqua;
    transition: .5s;
}

.navContent2 {
    width: 20%;
   height: 10%;
    }
   


.nav-items {
text-decoration: none;
 color: rgb(78, 124, 106);
}

.main-container {
    display:flex;
    flex-wrap: wrap;
}

section {
width: 40%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}
.section-aboutme {
    font-size: 18px;
    margin: 0 0 0 25;
    line-height: 1.6;
    letter-spacing: 1px;
}

.section-code { 
    margin: 0 0 0 25px;
    font-size: 18px;
}

.new-class {
   margin: 10px 0 0 25px;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Charis SIL', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills {
    font-size: 18px;

}

.footer2 {
    color: rgb(230, 64, 72);
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: center;
}

.footer2:hover {
    color:aqua;
    transition: .5s;
}

footer {
   width: 100%;

}
.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 178, 179);
    font-size: 24px;
    height: 50px;
}

.courses {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.courses1 {
    margin: 0 0 0 25px;
}

.courses:hover {
    color:aqua;
    transition: .5s;
}

.languages1 {
    font-size: 18px;
    margin: 0 0 0 25px;
}

html {
    background-color: rgb(217, 233, 247);
}

.contacts {
    margin: 0 0 0 25px;
}

.education {
margin: 0 0 0 25px;
}